* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg1:#9b59b6;
    --bg2:#3498db;
}

html {
    font-family: "Relaway", sans-serif;
}

body {
    background-color: #fff;
    min-width: 960px;
    letter-spacing: 0.25px;
    font-size: 14px;
}

#main {
    transition: opacity .5s ease;
}

a {
    text-decoration: none;
}

/* header */

#header {
    height: 124px; 
    padding: 10px 0 0;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    display: block;
}

#header-1 {
    display: flex;
    justify-content: space-around;
}

#logo {
    height: 60px;
}

#header-sec-2 {
    display: inline-block;
}

#sec-2-nav-1 {
    width: 100%;
    display: inline-block;
    margin: 11px 0;
}

#text-search {
    width: 415px;
    height: 38px;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: 100;
    color: #333;
    opacity: 0.9;
    outline: none;
    letter-spacing: 0.25px;
}

#btn-search-sec-2 {
    height: 38px;
    width: 60px;
    color: #fff;
    text-align: center;
    float: right;
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
}

#btn-search-sec-2 img  {
    height: 20px;
    margin: 8px;
}


#btn-search-sec-2:hover {
    background-color: #038dcc;
}

#btn-search-sec-2:active {
    background-color: #0286c2;
}


#header-sec-3 {
    width: 300px;
    padding: 0 10px;
    position: relative;
}

#sec-3-nav-1 {
    margin-top: 10px;
}

#sec-3-nav-1 .time-open {
    color:#787878;
    font-size: 14px;
    margin-left: 30px;
}

#sec-3-nav-1 .logo-hotline {
    font-size: 18px;
    color: #03a9f4;
    letter-spacing: 0;
    font-weight: 540;
    position: absolute;
}

.logo-hotline a {
    color:#03a9f4;
}

#nav-hotline {
    position: relative;
    /* hieu ung anh chuyen dong */
    /* animation: mymove 1s infinite; */
    vertical-align: bottom;
    animation: 1s ease-in-out 0s normal none infinite running mymove;
}

@keyframes mymove {
    /* 0%   {left: 0px;}
    25%  {left: 10px;}
    75%  {left: 0px}
    100% {left: 10px;} */

    0%, 100% {
        -webkit-transform: none;
        transform: none;
    }
    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
}

.hot-line:hover {
    color: #0286c2;
}

#sec-3-nav-1 .logo-hotline img{
    width: 30px;
    margin-right: 10px;
    margin-left: 45px;
}

#icon-user {
    position: absolute;
    right: 0;
    bottom: 6px;
    margin-right: 45px;
}

#icon-user img {
    width: 35px;
}

#icon-user .nav-user {
    position: absolute;
    font-size: 15px;
    width: 140px;
    background-color: #fff;
    padding: 5px;
    display: none;
    left: -100px;
    z-index: 1;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
}

#icon-user .nav-user a {
    color: #000;
    line-height: 32px;
    padding: 5px 0;
    float: right;
    text-align: right;
    width: 100%;
    position: relative;
}

#icon-user .nav-user a:hover {
    color: #03a9f4;
}

#icon-user li a:after {
    position: absolute;
    content: '';
    height: 35px;
    width: 3px;
    left: -5px;
    transition: 0.5s;
    opacity: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: scale(0);
}

#icon-user li a:hover:after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    background-color: #03a9f4;
}

#icon-user .nav-user .subnav-nav-user {
    border-bottom: 1px solid #ccc;
}

#icon-user:hover .nav-user {
    display: block;
}

/* header-2 */
#header-2 {
    height: 44px;
    background-color: #03a9f4;
    margin-top: 6px;
}

#nav-header-2 {
    line-height: 44px;
    display: flex;
    justify-content: center;
}

#nav-header-2 > li {
    display: inline-block;
}

#nav-header-2 > li > a {
    text-transform: uppercase;
}

 #nav-header-2 li{
    position: relative;
}

li {
    list-style: none;
}

#nav-header-2 img {
    height: 18px;
}

#nav-header-2 .ti-arrow-down-1 {
    display: inline-block;
}

.color-rgba {
    background-color: rgba(255,255,255,0.2);
}

.nav-2-subnav-1 .arrow-down {
    float: right;
}

.nav-2-subnav-1>li {
    position: relative;
}

#nav-header-2 .nav-2-subnav-1 li:hover .list-1{
    top: 4px;
    display: block;
    opacity: 1;
    visibility: visible;
}

.nav-2-subnav-1 .list-1 {
    top: 6px;
    right: -240px;
}

#nav-header-2 > li >a {
    color: #000;
}

#nav-header-2 > li:hover >a {
    background-color: rgba(255,255,255,0.2);
    color: #000;
}

#header-2 li a {
    display: block;
    padding: 0 24px;
}


#nav-header-2 li:hover .nav-2-subnav-1,
#nav-header-2 li:hover .nav-2-subnav-2 {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.nav-2-subnav-1,
.nav-2-subnav-2,
.list-main {
    position: absolute;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
    width: 250px;
    background-color: #fff;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    top: 80px;
    transition: all 0.3s ease-in-out;
}


.nav-2-subnav-1 li a::after,
.nav-2-subnav-2 li a::after {
    position: absolute;
    content: '';
    height: 35px;
    width: 3px;
    left: 0;
    transition: 0.5s;
    opacity: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: scale(0);
}

.nav-2-subnav-1 li a:hover:after,
.nav-2-subnav-2 li a:hover:after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    background-color: #03a9f4;
}

.nav-2-subnav-1 li a,
.nav-2-subnav-2 li a {
    color: #000;
}

.nav-2-subnav-1 li a:hover,
.nav-2-subnav-2 li a:hover{
    color: #03a9f4;
}

/*  */

.container {
    padding: 10px 0;
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

/* section-1 */
.margin-bottom-10 {
    margin-bottom: 10px;
}

#section-1 {
    background: #f3f3f3;
}

.list-navigation {
    color: #9e9fa1;
    text-align: left;
    background-color: transparent;
    position: relative;
    display: block;
}

.list-navigation li:after {
    content: "/";
    padding: 0 5px;
    height: 1px;
}

.list-navigation li a {
    color: #9e9fa1;
}

.list-navigation li>a>span:hover {
    color: #03a9f4;
    text-decoration: none;
}

.list-navigation li {
    display: inline-block;
}

.list-navigation li strong {
    color: #03a9f4;
    font-weight: normal;
}

.list-navigation li:last-child:after {
    content: "";
}
/* end */

/* section-2 ---------------------*/

img {
    max-width: 100%;
}

.text-left {
    text-align: left;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.list-page {
    padding: 0 10px;
}

.title-head {
    font-size: 20px;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
}

.list-blogs .fix-blog .blog-item .entry-header {
    display: block;
    position: relative;
    margin-bottom: 10px;
    height: 240px;
    border: 2px solid #03a9f4;
    border-radius: 3px;
}

.list-blogs .blog-item .entry-header img {
    width: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.blog-item {
    margin-bottom: 15px;
}

.list-blogs .blog-item .entry-title {
    margin: 0;
    font-size: 15px;
    word-break: break-word;
    font-weight: 500;
    letter-spacing: .01em;
}

.list-blogs .fix-blog .blog-item .entry-title a {
    color: #333;
    font-size: 15px;
    transition: all 150ms ease-in-out;
}

.list-blogs .fix-blog-small .blog-item .entry-title a {
    color: #333;
    font-size: 14px;
    transition: all 150ms ease-in-out;
}

.list-blogs .blog-item:hover .entry-title a,
.list-blogs .blog-item .entry-title a:hover {
    color: #03a9f4;
}

.list-blogs .fix-blog-small .blog-item .entry-header {
    display: block;
    position: relative;
    margin-bottom: 10px;
    height: 177px;
}

.list-blogs .fix-blog {
    margin-bottom: 10px;
}

.list-blogs .fix-blog-small {
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination .page-link {
    float: left;
    margin: 0 3px;
    width: 36px;
    background: #fff;
    text-align: center;
    height: 36px;
    font-size: 14px;
    line-height: 34px;
    color: #000;
    border-radius: 0;
    border: none;
    text-decoration: none;
    border-radius: 0px !important;
    padding: 0;
    box-shadow: 0 2px 10px 0 #d8dde6;
    font-weight: 600;
}

.background-03a9f4 {
    background-color: #03a9f4 !important;
    color: #fff !important;
}

.pagination .page-link:hover {
    background-color: #03a9f4;
    color: #fff;
}

.pagination .page-link img {
    width: 15px;
}

/* end-sec-2---------------------- */

/* footer */

.col-5 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-1 {
    padding-right: 10px;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-2 {
    padding-left: 10px;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    height: 75px;
}

.row-1 {
    display: flex;
}
#footer {
    display: block;
    background-color: #2e282e;
    padding-top: 40px;
}

#footer .container {
    padding: 0 0 10px;
}

.subscribe-area {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #493f49;
}

.subscribe-content h2{
    margin-bottom: 0;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: .01em;
    line-height: 1.4;
}

.subscribe-content p {
    color: #fff;
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.subscribe-form {
    padding-left: 30px;
}

.subscribe-form form {
    position: relative;
    margin-bottom: 0;
    height: 100%;
}

.input-group {
    position: relative;
}

.subscribe-form form input {
    display: block;
    width: 100%;
    color: #524552;
    padding-right: 140px;
    height: 65px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
    outline: 0;
    box-shadow: unset;
    font-size: 14px;
    font-weight: 500;
}

.subscribe-form form button {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #03a9f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    letter-spacing: .5px;
    transition: 0.5s;
    font-size: 16px;
    font-weight: 600;
    z-index: 99;
}

.subscribe-form form button:hover,
.subscribe-form form button:focus {
    color: #fff;
    background-color: #0286c2;
    cursor: pointer;
}

.subscribe-form form button:focus {
    box-shadow: 0 0 0 0.2rem rgb(1 123 255 / 25%);
}

.single-footer-widget .footer-quick-links li a:hover {
    color: #03a9f4;
}


/* footer: phan-2 */
.col-3 {
    padding-right: 10px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-4 {
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 25%;
    max-width: 25%;
}

.single-footer-widget {
    margin-bottom: 30px;
}

.single-footer-widget .logo a img {
    max-width: 220px;
    vertical-align: middle;
    height: auto;
}

.single-footer-widget p {
    color: #ebe7e7;
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 1.7;
}

.footer-quick-links {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-bottom: 0;
}

.footer-quick-links li {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 20px;
    padding-right: 15px;
}

.footer-quick-links li a {
    display: inline-block;
    color: #ebe7e7;
    font-size: 14px;
}

.social {
    margin-top: 20px;
}

.social li {
    display: inline-block;
    margin-top: 3px;
}

.social li a {
    display: inline-block;
    background-color: #fff;
    width: 35px;
    font-size: 15px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin-right: 4px;
    transition: all 0.3s;
}

.social li a img {
    position: absolute;
    height: 27px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.social li:hover a {
    background-color: #03a9f4;
}

.single-footer-widget h3 {
    position: relative;
    margin-bottom: 30px;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid #493f49;
    font-size: 24px;
    font-weight: 600;
}

.single-footer-widget h3:before {
    bottom: -1px;
    left: 0;
    width: 55px;
    height: 1px;
    background-color: #03a9f4;
    content: '';
    position: absolute;
}

.single-footer-widget a .img-footer {
    max-width: 70%;
    padding: 10px;
}


/* footer: phan 3 */
.footer-contact-info li {
    color: #ebe7e7;
    font-size: 14px;
    margin-bottom: 12px;
}

.footer-contact-info li:first-child {
    margin-top: 50px;
}

.single-footer-widget .footer-contact-info li a{
    color: #ebe7e7;
}

.single-footer-widget .footer-contact-info li a:hover {
    color: #03a9f4;
}

/* footer-phan4 */
.copyright {
    padding: 10px 0;
    margin-top: 20px;
    color: #ebe7e7;
    font-size: 13px;
    background-color: rgba(0,0,0,0.2);
}

.copyright a {
    color: #ebe7e7;
    transition: all 150ms ease-in-out;
}

.copyright a:hover {
    color: #03a9f4;
}

#bttop {
    right: 35px;
    bottom: 100px;
    position: fixed;
    transition: all 0.3 ease-out 0s;
    opacity: 0;
    pointer-events: none;
}


.back-to-top {
    cursor: pointer;
    color: #fff;
    top: auto;
    height: 40px;
    width: 40px;
    background-color: green;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: all 0.3s ease-out 0s;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}

.back-to-top .btn-to-top  img {
    width: 22px;
}

.back-to-top:hover {
    color: #fff;
    background-color: #03a9f4;
    border-color: #038dcc;
}

#bttop.active {
    pointer-events: auto;
    opacity: 1;
    z-index: 100;
}